.update-pettycash-container,
.add-pettycash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.update-pettycash-form,
.add-pettycash-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.update-pettycash-form input,
.add-pettycash-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.update-pettycash-form button,
.add-pettycash-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}